.inventory-panel {
    outline: solid var(--rgb-text) 1px;
    padding: 1rem;
    & .limits {
        text-align: right;
    }
    & ol {
        outline: solid var(--rgb-text) 1px;
        margin: 0;
        padding: 0.5rem;
        & li {
            display: flex;
            gap: 0.5rem;
            list-style-type: none;
            padding: 0 0.5rem;
            border-radius: 4px;
            & > span {
                text-align: left;
                &.icon {
                    width: 1.5rem;
                }
                &.item-name {
                    width: 100%;
                    min-width: 8rem;
                }
                &.quantity {
                    width: 3rem;
                    text-align: right;
                }
                
            }
            & button {
                padding: 0;
            }
            &:hover {
                background-color: var(--rgb-text);
                color: var(--rgb-bg);
            }
        }
    }
    
    & .row {
        display: flex;
        gap: 0.5rem;
        & .right {
            margin-left: auto;
        }
        & input {
            outline: none;
            padding: 0;
        }
        &.inventory-mode-buttons {
            padding-bottom: 0.5rem;
            transition: ease-in-out 0.25s;
            
            &:hover > button {
                transform: scale(1);
                width: 2rem;
            }
            & button {
                text-align: center;
                overflow: hidden;
                width: 0rem;
                padding: 0.5rem 0;
                
                &.selected {
                    padding: 0.5rem;

                    width: 3rem;
                }
            }   
        }
    }
    
}