section.tooltip {
    
    position: absolute;
    display: none;
    padding: 0.5rem;
    white-space: wrap;
    min-width: 0rem;
    width: fit-content;
    border: double 3px var(--rgb-text);
    outline: none;
    & h2 {
        margin: 0;
    }
    &.enabled {
        display: block;
        max-width: 15rem;
    }
    & p {
        all: unset;
        font-size: smaller;
        font-style: italic;
    }
}