#root {
  font-size: 16px;
}

.theme-default {
  font-family: monospace, "Noto Emoji";
  --rgb-text: #ffffff;
  --rgb-bg: #0d0430;
  background-color: var(--rgb-bg);
  color: var(--rgb-text);
}

main {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
section {
  flex: 1;
  padding: 1rem;
  outline: double var(--rgb-text) 2px;
  
}