#root {
  font-size: 16px;
  overflow: hidden;
  font-family: var(--font-monospace), monospace;
}

@font-face {
  font-family: NotoSans;
  src: url("./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: NotoEmoji;
  src: url("./assets/fonts/Noto_Emoji/NotoEmoji-VariableFont_wght.ttf");
}

@font-face {
  font-family: NotoSansMono;
  src: url("./assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf");
}

.theme-default {
  --font-regular: NotoSans;
  --font-emoji: NotoEmoji;
  --font-monospace: NotoSansMono;
  --rgb-text: #ffffff;
  --rgb-bg: #0d0430;
  background-color: var(--rgb-bg);
  color: var(--rgb-text);
}

select {
  font-family: inherit;
  color: inherit;
  font-size: smaller;
  height: 1.25rem;
  background: none;
  border: none;
  outline: 1px solid var(--rgb-text);
  border-radius: 4px;
}

main {
  font-family: var(--font-monospace), monospace, var(--font-regular);

  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;  
  
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section {
  flex: 1;
  min-width: fit-content;
  padding: 1rem;
  background: var(--rgb-bg);
  outline: double var(--rgb-text) 2px;
}
button, button:focus {
  all: unset;
  font-size: smaller;
  background: var(--rgb-bg);
  color: var(--rgb-text);
  outline: solid var(--rgb-text) 1px;
  padding: 0.5rem;
  line-height: 1em;
  border-radius: 4px;
  transition: ease-in-out 0.25s;
  
  &:hover {
    outline: solid var(--rgb-text) 3px;
    transform: scale(1.15);
    
  }
  &.selected {
    outline: solid var(--rgb-text) 3px;
  }

  &.emoji-icon {
    font-family: var(--font-emoji) !important;
    font-size: inherit;
  }
}

input {
  all: unset;
  font-size: smaller;
  background: none;
  color: var(--rgb-text);
  outline: solid var(--rgb-text) 1px;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  border-radius: 4px;
}
.emoji-icon {
  font-family: var(--font-emoji) !important;
  font-weight: 700;
}

.white-space-nowrap {
  white-space: nowrap;
}

h1, h2, h3, h4 {
  all: unset;
  display: block;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.25rem;
}